{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "project": "tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "security", "prettier"],
  "root": true,
  "env": {
    "mocha": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-duplicate-enum-values": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/triple-slash-reference": "off",

    "complexity": ["error", 10],
    "consistent-return": "error",
    "eqeqeq": "error",
    "no-console": "error",
    "no-debugger": "error",
    "no-else-return": "error",
    "no-undef": "error",
    "no-use-before-define": "error",
    "prefer-const": "error",

    "@typescript-eslint/consistent-type-definitions": "warn",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
